<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Кликер.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Кликер.Properties.Settings>
            <setting name="money" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberTool" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberWorker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sumTool" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sumWorker" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="incomeTool" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="incomeWorker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hider" serializeAs="String">
                <value>True</value>
            </setting>
        </Кликер.Properties.Settings>
    </userSettings>
</configuration>